!!!
%html
  %head
    %title CampusBite
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = image_tag('results_loading_bar.gif', id: 'results-loading-bar')
    %div#results
      = yield